.input-label {
    padding: 5px 0px;
}

#start {
    padding: 5px;
    background-color: #2a5a5e;
    color: white;
}

#input-form {
    position: fixed;
    top: 50%;
    left: 10px;
}

.circle {
    display: inline-block;
}